{% extends "base.html" %}

{% block title %}
Computerbacon
{% endblock %}


{% block content %}
<header class="title">
	<a href="/" class="btn btn-default btn" id="back-button" role="button"><span class="glyphicon glyphicon-chevron-left"></span>     Back   </a>
	<h2>{{ article.title }}</h2>
	<p>{{ article.locale_date }}</p>
  <p>Posted by: {{ article.author }}</p>
  <span class="tags">{% if article.tags %}
          {% for tag in article.tags %}
          <span class="label label-default" style="background-color: #CC6600;">{{ tag }}</span>
          {% endfor %}
        {% endif %}</span>
	
</header>

<div class="post">
    <div class="row">
      <div class="col-md-12">
        {{ article.content }}
      </div>
    </div>
  </div>

  <div class="pagination"></div>

{% endblock %}
